<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property resource="application.properties"/>


    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${NAME_PATTERN}</fileNamePattern>
            <maxHistory>${MAX_FILE_COUNT}</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{HH:mm:ss} %-5level - %msg%n</Pattern>
        </encoder>
    </appender>


    <logger name="${LOGGER_NAME}" level="${LOG_LEVEL}" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="console" />
    </root>
</configuration>